:root {
  --primary-bg: #333;
  --secondary-bg: #f4f4f4;
  --primary-color: #fff;
  --accent-color: #4596ff;
  --shadow: rgba(0, 0, 0, 0.1);
}

.wrapper {
  display:flex;
}

.content{
  flex-grow: 1;
  padding: 20px;
}


.profile-header {
    text-align: center;
}

.profile-picture img {
    border-radius: 50%;
    max-width: 100px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--secondary-bg);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  padding-top: 0px; 
}

header {
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--primary-bg);
  text-align: center;
}

header h1 {
  margin: 0;
}

header p{
  margin: 10px 0 0;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--shadow);
}

@media (max-width: 1100px) {
  section {
    max-width: 80%;
  }
}

h2 {
  color: var(--primary-bg);
}

h3 {
  color: #444;
}

strong {
  font-weight: bold;
}

article {
  color: #555;
}

ul {
  list-style-type: circle;
  padding-left: 30px;
}

ol {
  list-style-type: lower-latin;
  padding-left: 30px;
}

a {
  color: var(--accent-color);
  font-weight: bold;
  border-bottom: 1px solid var(--accent-color); 
  transition: border-bottom 0.3s;
}

a:hover {
  color: #427bc7;
  border-bottom: 2px solid #427bc7;
  font-weight: bold;
}

a:visited {
  color: #fd70ff;
  text-decoration: none;
}

.sub-header {
  padding: 5px;
  color: rgba(128, 128, 128, 0.8);
  margin-top: -20px;
  margin-left: -2px;
}

footer {
  padding: 20px;
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

.contact-info {
  display: flex;
  justify-content: space-around;
}

.contact-bar {
  width: 50%;
}

.sidebar {
  color: var(--primary-color);
  padding: 15px;
}

.sidebar--contact {
  position: fixed;
  top: 300px;
  right: -280px;
  transform: translateY(-50%);
  background-color: var(--primary-bg);
  color: var(--primary-color);
  padding: 12px;
  width: 360px;
  transition: right 0.5s ease;
  text-align: right;
}

.sidebar--contact.show { 
  right: 0;
  top: 400px;
}

.sidebar--default {
  width: 475px;
  background-color: black;
  padding: 25px;
  color: white;
  box-shadow: 2px 0 5px var(--shadow);
}

.button-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-bottom: 0px;
}

.sidebar--contact button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer; 
}

.contact-tab {
  display: none;
}

.contact-tab h3 {
  margin-top: 0;
}

.contact-tab p {
  margin: 5px 0;
}

.contact-tab-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid var(--primary-color); 
  transition: border-bottom 0.3s;
}

.contact-tab-link:hover {
  color: #cacaca;
  border-bottom: 2px solid #9c9c9c; 
  text-decoration: none;
}

@media (max-width: 750px){
  .contact-info {
    flex-direction: column;
  }

  .contact-bar {
    width: auto;
    margin-bottom: 20px;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.image-gallery {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
  display: none;
  margin: 0 auto;
}

.image-gallery img:first-child {
  display: block; /* First image */
}

.image-gallery video {
  max-width: 100%;
  height: auto;
  display: block; /* Initially hide the video */
  margin: 0 auto;
}

.gallery-image {
  max-width: 100%;
  min-width: 500px;
}

.collapse {
  cursor: pointer;
}

.collapse-content {
  display: none;
}

.arrow {
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.5s ease;
}

.collapse.expand .arrow {
  transform: rotate(90deg);
}

.biography {
  max-width: 50%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 750px){
  .biography {
    max-width: 90%  ;
  }
}

.navbar {
  background-color: var(--primary-bg);
  padding: 10px 0;
  width: 100%;
  transition: top 0.5s;
  position: relative;
  z-index: 1000; 
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ddd; 
}
